version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      URL_DB: mysql://root:root@host.docker.internal:3306/service_hub
      JWT_SECRET: secretkey123